<ion-view id="background-signup">
<ion-nav-bar>
	<ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
	</ion-nav-back-button>
	<h1 class="title denseTitle">PRO SIGN UP</h1>        
</ion-nav-bar>
	<ion-content scroll="false" class="fullHeight">
		<div class="list">
			<div class="row">
				<div class="col">
					<div class="item item-input" id="signup-text">
					    <input type="text" placeholder="First Name"  ng-model="user.first_name" required>
					</div>

					<div class="item item-input" id="signup-text">
					    <input type="text" placeholder="Last Name"  ng-model="user.last_name" required>
					</div>

					<div class="item item-input" id="signup-text">
					    <input type="email" placeholder="Email"  ng-model="user.email" required>
					</div>

					<div class="item item-input" id="signup-text">
					    <input type="password" placeholder="Password"  ng-model="user.password" required>
					</div>

					<div class="item item-input" id="signup-text">
					    <input type="password" placeholder="Confirm Password"  ng-model="user.password2" required>
					</div>
	  	  
	 			</div>
	 			

	 		</div>
	 		
	 			
      </div>
 	
	</ion-content>
	<div class="bar bar-footer">
		<div class="title denseTitle" ng-click="signup()" id="signUpButton">NEXT</div>
	</div> 
</ion-view>
