<ion-view hide-back-button="false">
<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Skills</h1>                   
</ion-nav-bar>
<ion-content>
<ion-list ng-if="contractorStatus && loggedInUserContractorStatus">
	<div class="item-input-inset">
	  <label class="item-input-wrapper">
	  	<!-- <i class="icon ion-ios-plus placeholder-icon"></i> -->
	  	<input type="text" placeholder="New Skill" type="text" ng-model="skillText" ng-model-instant/>
	  </label>
	  <button class="button button-clear button-energized" ng-click="addskill(skillText)">Add</button>
	</div>
</ion-list>
<ion-list>
	<ion-item ng-repeat="item in skills">
		{{item.$value}}
		<ion-option-button ng-if="contractorStatus && loggedInUserContractorStatus" class="button-assertive" ng-click="onItemDelete(item.$id)">
          <i class="ion-trash-a"></i>
    </ion-option-button>
</ion-item>
	<!-- <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button> -->
</ion-list>
</ion-content>

<div class="bar bar-footer bar-energized" ng-click="save()" ng-if="contractorStatus && loggedInUserContractorStatus">
	<div class="title regularTitle">FINISHED</div>
</div>
</ion-view>