<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Change Password</h1>
    <div style="float:left;">
      <a class="button icon-left ion-chevron-left button-clear button-light" ui-sref="app.dashboard"></a>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding" ng-if="isFirstPasswordChange">
      <h3>One last thing...</h3>
      <p>
        We've sent you an email with a temporary password.
        Please change your password.
      </p>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">{{ passwordLabel }}</span>
        <input type="password" placeholder="{{ passwordPlaceholder }}" ng-model="user.oldPassword">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="Your new password" ng-model="user.newPassword">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-balanced" style="border-radius: 360px;" ng-click="done()">
        <i class="icon ion-checkmark"></i>
      </button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <div class="error password-strength-error" ng-if="!passwordValid">
        Password must:
        <ul>
          <li>have at least 1 uppercase letter</li>
          <li>have at least 1 lowercase letter</li>
          <li>have at least 1 digit</li>
          <li>be at least 8 characters long</li>
        </ul>
      </div>
      <br><br><br>
      <button style="border-radius: 360px;" class="button button-assertive button-block" ng-if="!isFirstPasswordChange" 
              ui-sref="app.dashboard">
        Cancel
      </button>
    </div>
  </ion-content>
</ion-view>