<ion-view hide-back-button="false">

<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Manage My Business</h1>                   
  <ion-nav-buttons side="right">
        <button class="button button-clear button-energized" ng-click="edit()" ng-if="edit_off">Edit</button>
        <button class="button button-clear button-energized" ng-click="save()" ng-if="edit_on">Save</button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-content class="has-header" scrollbar-y="false"> 
  <div class="container profile">
    <label class="item" ng-if="edit_off">Name  {{biz_stuff.name}}</label>
    <label class="item" ng-if="edit_off">Category  {{biz_stuff.category}}</label>
    <label class="item" ng-if="edit_off">Hourly Rate  {{biz_stuff.rate}}</label>
    <label class="item" ng-if="edit_off">Address  {{biz_stuff.address}}</label>
    <label class="item" ng-if="edit_off">Phone  {{biz_stuff.phone}}</label>
    <label class="item" ng-if="edit_off">Website  {{biz_stuff.website}}</label>
    <label class="item" ng-if="edit_off">About  {{biz_stuff.about}}</label>

    <label class="item" ng-if="edit_on"><input type="text" placeholder="Name" ng-model="biz_stuff.name"></input></label>
    <label class="item" ng-if="edit_on"><input type="text" placeholder="Category" ng-model="biz_stuff.category"></input></label>
    <label class="item" ng-if="edit_on"><input type="text" placeholder="Hourly Rate" ng-model="biz_stuff.rate"></input></label>
    <label class="item" ng-if="edit_on"><input type="text" placeholder="Address" ng-model="biz_stuff.address"></input></label>
    <label class="item" ng-if="edit_on"><input type="text" placeholder="Phone" ng-model="biz_stuff.phone"></input></label>
    <label class="item" ng-if="edit_on"><input type="text" placeholder="Website" ng-model="biz_stuff.website"></input></label>
    <textarea ng-if="edit_on" rows = "3" placeholder="Tell us about your business!" ng-model="biz_stuff.about"></textarea>
  </div>  
</ion-content>
</ion-view>
