<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>
  <ion-side-menu side="left">
    <ion-content scrollbar-y="false">

      <ion-item nav-clear menu-close id="sidebar-header">
              
      </ion-item>

      <ion-item nav-clear menu-close ng-click="test('dashboard')" class="no-border">
        Home
      </ion-item>

      <ion-item nav-clear menu-close ng-click="test('newRequest')" class="no-border">
        Request
      </ion-item>

      <ion-item nav-clear menu-close ng-click="test('jobs')" class="no-border">
        My Requests
      </ion-item>

      <ion-item nav-clear menu-close class="no-border" ng-click="test('messages')">
        Messages
      </ion-item>

      <ion-item nav-clear menu-close ng-click="test('profile')" class="no-border">
        Account
      </ion-item>
      
      <ion-item nav-clear menu-close class="no-border" ng-click="test('settings')">
        Settings
      </ion-item>

      <ion-item nav-clear menu-close class="no-border" ng-click="help()">
        Help
      </ion-item>

      <ion-item nav-clear ng-click="test('buyCredits')" menu-close class="no-border" ng-if="userObj.contractorStatus">
        Buy credits
      </ion-item>

      <ion-item nav-clear menu-close id="sidemenu-auth" class="no-border" ng-if="user == undefined">
        <div id="sidemenu-auth">
          <span ui-sref="login">Login</span> or <span ui-sref="signup">Sign Up</span>
        </div>
      </ion-item>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
