<ion-view hide-back-button="true" title="Manage Account">
 
  <div class="bar bar-header bar-stable">

    <ion-nav-buttons side="left">
        <i menu-toggle="left" class="icon-sidebar energized navbar-icon"></i>
    </ion-nav-buttons>

  </div>
  <ion-content class="has-header" scrollbar-y="false">
   
    <div class="container profile">
      <div class="item item-divider"> 
          Your Account Type
      </div>
      
      <ion-toggle toggle-class="toggle-balanced" ng-checked="contractorStatus" ng-click='change()' ng-model="user.contractorStatus">Service Provider</ion-toggle>
      
    </div>  
      
  </ion-content>

</ion-view>
