*{
  box-sizing: border-box;
}

text {
  stroke-dasharray: 8000;
  stroke-dashoffset: 8000;
  -webkit-animation: draw 4s forwards;
  font-family: 'Yellowtail', cursive;
  color:#5cb860;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
svg {
  display:block;
  margin: 0 auto;
}
#splash {
  top: 50%;
  left: 50%;
  
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
}
text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: draw 4s forwards;
  -moz-animation: draw 4s forwards;
  -o-animation: draw 4s forwards;
  -ms-animation: draw 4s forwards;
  animation: draw 4s forwards;
  color:#5cb860;
  text-anchor: middle;
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}