<ion-view id="background-signup">
<ion-nav-bar>
    <h1 class="title denseTitle">FIXA</h1>        
  </ion-nav-bar>
  <ion-content class="has-header"  scroll="false">
    <div class="list">
      <div class="row">
        <div class="col">
          <div class="item item-input" id="signup-text">
              <input type="text" placeholder="Name"  ng-model="user.name">
          </div>
          <div class="item item-input" id="signup-text">
            <input type="email" placeholder="Email" ng-model="user.email">
          </div>
          <div class="item item-input" id="signup-text">
            <input type="password" placeholder="Password" ng-model="user.password">
          </div>
          <div class="item item-input" id="signup-text">
            <input type="password" placeholder="Confirm Password" ng-model="user.password2">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-center" ui-sref="provider_signup" id="providerSignupButton">
            Click here if you are a service provider
        </div>
      </div>

      <div class="row">
        <div class="col text-center" ui-sref="login"  id="login-button-signup">
            Already have an account? Sign in!
        </div>
      </div>

    </div>

    <div class="footer">
      <div class="button button-full denseTitle" ng-click="signup()" id="signUpButton">GET STARTED</div>
      <div class="button button-full" ng-click="loginWithFB()" id="login-button-fb">Sign Up with Facebook</div>
    </div>
  </ion-content>
  
 

</ion-view>
