<ion-view hide-back-button="true" title="Skills">
<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Skills</h1>                   
</ion-nav-bar>
	<ion-content>
		<ion-item ng-repeat = "skill in skills">{{skill}}</ion-item>
	</ion-content>
</ion-view>