<ion-view>
<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">About</h1>                   
  <ion-nav-buttons side="right" ng-if="user.$id == currentUserID">
    <button class="button button-clear"  ui-sref="edit">Edit</button>
  </ion-nav-buttons>
</ion-nav-bar>
	
	<ion-content padding="true">
		{{businessAbout}}
	</ion-content>
</ion-view>