<div class="modal image-modal transparent" ng-click="closeModal()">
   <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
       <ion-slide ng-repeat="pic in jobPics">
       		<img ng-src="data:image/jpg;base64,{{pic}}" class="fullscreen-image">
       </ion-slide>
   </ion-slide-box>
</div>