<ion-view hide-back-button="true">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
        <i menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></i>
    </ion-nav-buttons>
    <h1 class="title denseTitle">{{_title}}</h1> 
    <ion-nav-buttons side="right">
      
    </ion-nav-buttons>   
  </ion-nav-bar>

  <ion-content class="has-header" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true"> 
  <!-- need to redo search  -->
  	<!-- <div class="item item-input">
  	    <i class="icon ion-ios7-search placeholder-icon"></i>
  	    <input type="search" placeholder="Search" ng-model="searchText">
  	</div>
  	<ion-list ng-if="searchText" scroll="true" style="overflow-y:scroll;">
  	    <ion-scroll direction="y" scrollbar-y="false">
  		    <ion-item ng-repeat="(job, name) in jobs |filter:searchText" >  
  		       <a href="#/app/jobs/{{job}}">{{job}}</a>
  		    </ion-item>
  		</ion-scroll>
  	</ion-list> -->
     <ion-item ng-repeat="job in jobs" ng-click="goToJob(job)"  ng-if="!contractorStatus">         
      <div class="job-history-quote-wrapper-open" ng-if="job.status == 'open'" ><span class="job-history-quote-open" >{{job.quotes}} </span></div>

      <div class="job-history-quote-wrapper-closed" ng-if="job.status == 'closed'"><span class="job-history-quote-closed"><i class="ion-checkmark-circled" id="fixa-green-checkmark" ></i> </span></div>
        
      <div class="job-history-quote-name">{{job.name}}</div>
    </ion-item>


    <ion-item class="item-button-right" ng-click="goToJob(job)" ng-repeat="job in jobs" ng-if="contractorStatus">
     {{job.val.name}}
       <div class="button button-clear">
        <i id="newJobIcon" ng-if="job.val.status == 'new'"></i>
        <i id="jobCompleteIcon" ng-if="job.val.status == 'complete'"></i>
        <i id="quoteDeniedIcon" ng-if="job.val.status == 'denied'"></i>
      </div>
    </ion-item>

  </ion-content>

</ion-view>
