<ion-view>

<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Request</h1>                   
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
</ion-nav-bar>

  <ion-content>
    <!-- Profile of requester -->
      <div class="list">
       <a class="item item-avatar fixa-avatar" href="/#/app/profile/{{requesterObj.$id}}">
         <img src="http://placehold.it/100x100" ng-if="!requesterObj">
         <img ng-src="data:image/jpg;base64,{{requesterObj.profile_pic}}"/>
         <p>{{requesterObj.first_name}} {{requesterObj.last_name}}</p>
       </a>
      </div>
    <!-- End Profile -->
     <!-- Current lowest quote -->
     <!-- div class="item">Current Lowest Quote: {{currentBid | currency:"USD$":0}}</div>
     <div class="list">
      <a class="item item-avatar" href="#">
        <img src="http://placehold.it/100x100">
        <p>Company Name here</p>
      </a>
    </div> -->

     <!-- End current lowest quote -->

     <!-- Request Title -->
     <div class="item-divider" style="text-align:center;">{{jobName}}</div>
     <!-- End Request Title -->

     <!-- Request Pictures -->
     <div class="row">
       <div class="col" ng-repeat="pic in decodedStrings">
          <img ng-src="data:image/jpg;base64,{{pic}}" height="100" ng-click="showImages($index)" class="image-list-thumb">
       </div>
     </div>
     <!-- End Request Pictures -->

     <!-- Service Details -->
     <div class="item item-divider fixa-divider">Service Details</div>
     <div class="item item-text-wrap">{{jobDetails}}</div>
     <!-- End Service Details -->

     <!-- Quote Details -->
     <div class="item item-divider fixa-divider">Quote Details</div>

     <div class="row" ng-if="!contractorStatus" style="text-align:center;">
      <div class="col">
        <p ng-repeat="quote in job_with_time.quotes">{{quote.newQuote | currency:$:0}}</p>
      </div>
      <!-- <div class="col">Rejected Quotes
        <p>3</p>
      </div> -->
     </div>

    <div class="list" ng-if="contractorStatus">
        <label class="item item-input">
            <span class="input-label">Date Available</span>
            <input type="date" ng-model="quote_info.dateAvailable"/>
        </label>
        <label class="item item-input">
            <span class="input-label">Time Available</span>
            <input type="time" ng-model="quote_info.timeAvailable"/>
        </label>
        <label class="item item-input">
            <span class="input-label">Your Quote</span>
            <input type="number" ng-model="quote_info.newQuote"/>
        </label>
        <label class="item item-input">
            <textarea placeholder="Comments" rows="10" ng-model="quote_info.quoteComments"></textarea>
        </label>
    </div>

    <!-- need to populate the quote information for non sps -->
    <div class="list" ng-if="!contractorStatus">
        <ion-item>Pro Details {{quoteComments}}</ion-item>
        <ion-item>Date/Time Available  {{dateAvailable}}/ {{timeAvailable}}</ion-item>
        <ion-item>Quote {{price | currency}}</ion-item>
    </div>


     <!-- End Quote Details -->

  </ion-content>
  <ion-footer-bar  ng-if="contractorStatus">
    <h1 class="title" style="color:#FFF;" ng-click="sendQuote(quote_info.dateAvailable, quote_info.timeAvailable,quote_info.newQuote, quote_info.quoteComments)">Send Quote</h1>
  </ion-footer-bar>
  <ion-footer-bar id="fixa-green-button" ng-if="!contractorStatus">
    <h1 class="title" style="color:#FFF;" ng-click="accept(currentBidder.$id)">Accept Quote</h1>
  </ion-footer-bar>
</ion-view>
