<ion-view hide-back-button="true" title="Past Requests">
	<div class="bar bar-header">
	  <ion-nav-buttons side="left">
	    <i class="button button-icon ion-ios-arrow-left energized"  ui-sref="app.jobs"></i>
	  </ion-nav-buttons>
	</div>
	<ion-content>
	   <ion-item ng-repeat="job in jobs_with_time"><a href="#/app/jobs/{{uid}}/{{job.date}}/{{job.time}}" ng-if="contractorStatus">{{job.name}}</a> </ion-item>
	   <ion-item ng-repeat="job in jobs_with_time"><a href="#/app/jobs/{{uid}}/{{job.date}}/{{job.time}}/quotes" ng-if="!contractorStatus">{{job.name}}</a> </ion-item>
	</ion-content>
</ion-view>
