<ion-view hide-back-button="true">

  <ion-nav-bar>
    <ion-nav-buttons>
      <div menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></div>
    </ion-nav-buttons>
    <h1 class="title denseTitle">Account</h1>    
    <ion-nav-buttons side="right">
      <button class="button button-clear button-energized" ui-sref="edit">Edit</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" scroll="false">
   
    <div class="container profile">
          <div class="row">
            <div class="col">
              <div ng-if="!profile_pic" style="margin: 5% auto 5% auto;">
                <div class="no_pic_div">
                  <div id="addIconButton">
                    <icon class="ion-plus-round"></icon>
                  </div>
                </div>
              </div>
              <div ng-if="profile_pic" class="pic_div"><!-- container-->
                <img id="profile_image" ng-src="data:image/jpg;base64,{{profile_pic}}">
                
                <span ng-if="user.user_name" style="text-align: -webkit-center;display: block;">Your Name</span>
              </div>
              <p id="user_name">{{user.first_name}} {{user.last_name}}</p>
            </div>

          </div>
          <ul class="list">
            <li class="item">
              <div>{{ profile_email }}</div>
            </li>

            <li class="item" ng-if="contractorStatus" ui-sref="app.manageBiz">
              Manage My Business
              <i class="ion-chevron-right" side="right" style="float:right;"></i>
            </li>
            <li class="item" ng-if="contractorStatus" ui-sref="app.profileViewSkills({id:uid})">
              My Skills
              <i class="ion-chevron-right" side="right" style="float:right;"></i>
            </li>
            <li class="item" ui-sref="app.jobs">
                Job History
              <i class="ion-chevron-right" side="right" style="float:right;"></i>
            </li>
            <li class="item" ng-click="logout()" style="text-align:center;">
              
              Logout

            </li>
          </ul>
          
      </div>
      
  </ion-content>

</ion-view>
