<ion-view hide-back-button="true">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <i class="button button-icon ion-ios-arrow-left energized"  ui-sref="app.profile"></i>
    </ion-nav-buttons>
    <h1 class="title denseTitle">Edit Profile</h1>  
    <ion-nav-buttons side="right">
      <button class="button button-clear button-energized" ng-click="save()">Save</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" scroll="true">
		<div class="container profile">
		<div class="row">
		  <div class="col">
		    <div ng-if="!profile_pic" style="margin: 5% auto 5% auto;" ng-click="takePicture()">
		      <div class="no_pic_div">
		        <div id="addIconButton">
		          <icon class="ion-plus-round"></icon>
		        </div>
		      </div>
		    </div>
		    <div ng-if="profile_pic" class="pic_div"><!-- container-->
		      <img id="profile_image" ng-src="data:image/jpg;base64,{{profile_pic}}" ng-click="takePicture()">
		    </div>
		    <p id="user_name">{{user_name}}</p>
		  </div>
		</div>
		<div class="list">
		 <!--  <label class="item item-input">
		    <span class="input-label">First Name</span>
		    <span ng-if="user.first_name">{{ first_name }}</span>
		    <input type="text" ng-model="user.first_name" placeholder="First Name"> 
		  </label>

		  <label class="item item-input">
		    <span class="input-label">Last Name</span>
		    <span ng-if="user.last_name">{{ last_name }}</span>
		    <input type="text" ng-model="user.last_name" placeholder="Last Name"> 
		  </label> -->
		  <label class="item item-input">
		    <span class="input-label">Phone</span>		    
		    <input type="tel" ng-if="!userObj.phonenumber" ng-model="user.phone_number" placeholder="XXX-XXX-XXXX"> 
		    <input type="tel"  ng-if="userObj.phonenumber" placeholder="{{userObj.phonenumber}}"> 
		  </label>

		  <!-- Change email -->
		  <div class="item item-divider">Email</div>

		  <label class="item item-input">
		    <span class="input-label">Old Email</span>
		    <input type="email" ng-model="emailChangeObj.oldEmail"> 
		  </label>

		  <label class="item item-input">
		    <span class="input-label">New Email</span>
		    <input type="email" ng-model="emailChangeObj.newEmail"> 
		  </label>

		  <label class="item item-input">
		    <span class="input-label">Password</span>
		    <input type="password" ng-model="emailChangeObj.newEmailPassword"> 
		  </label>
		  <!-- End change email -->

		  <!-- Change password  -->
		  <div class="item item-divider">Password</div>
		  <label class="item item-input">
		    <span class="input-label">Email</span>
		    <input type="email" ng-model="passwordChangedObj.email" placeholder="Enter your email"> 
		  </label>

		  <label class="item item-input">
		    <span class="input-label">Old Password</span>
		    <input type="password" ng-model="passwordChangedObj.oldPassword" placeholder="Enter your old password"> 
		  </label>

		  <label class="item item-input">
		    <span class="input-label">New Password</span>
		    <input type="password" ng-model="passwordChangedObj.newPassword" placeholder="Enter your new password"> 
		    
		  </label>


		  <!-- markup binds with an Angular event to display an icon in place of "Edit" -->
		  <!-- <div ng-show="phonenumber">{{ phonenumber }}</div> -->

		  <!-- <div ng-if="phonenumber == 'undefined' || phonenumber ==' ' "><span style="color:#919DB2;"><em>###-##-####</em>
		  
		  </li> -->
		</div>
		</div>
  </ion-content>
</ion-view>
