<ion-view>
  <ion-nav-bar>
    <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
    </ion-nav-back-button>
    <h1 class="title denseTitle">Profile</h1>                   
    <ion-nav-buttons side="right" ng-if="user.$id == currentUserID">
      <button class="button button-clear button-energized"  ui-sref="edit">Edit</button>
    </ion-nav-buttons>
  </ion-nav-bar>
 
  <ion-content>
    <div class="container profile">
      <div class="row" id="fixa-background">
        <div class="col">
          <div style="margin: 5% auto 5% auto;">
            <div class="no_pic_div" ng-if="!profile_pic">
              <div id="addIconButton" ng-if="user.$id != currentUserID">
                <icon class="ion-ios-person"></icon>
              </div>
              <div id="addIconButton" ng-if="user.$id == currentUserID">
                <icon class="ion-plus-round"></icon>
              </div>
            </div>
            <!-- user profile picture -->
            <div ng-if="profile_pic" class="pic_div">
              <img id="profile_image" ng-src="data:image/jpg;base64,{{profile_pic}}">
              <span ng-if="user.user_name" style="text-align: -webkit-center;display: block;">Your Name</span>
            </div>
            <div id="user_name">{{user.business.name}}</div>
            <div id="user_rating">{{user.business.rating |number:1}}</div>
          </div>
        </div>
      </div>
      <!-- user call and message buttons -->
      <ion-item>
        <div class="button-bar">
          <a class="button fixa-button-profile" ng-href="tel: {{user.phone_number}}">Call</a>
          <div class="button fixa-button-profile" ng-click="gotoChatRoom()">Message</div>
        </div>
      </ion-item>
    </div>
     
    <!-- user info - about and skills -->
    <ion-item class="item-button-right" id="profile-divider" ng-if="!contractorStatus">
      Info
    </ion-item>

    <div class="list no-bottom-margin">
      <div class="item item-button-right" ui-sref="app.profileViewBusinessAbout({id:'{{_id}}'})" ><!-- passes the id $stateparam to the controller-->
        About
        <div class="button button-clear button-dark">
          <i class="ion-ios-arrow-right" id="profile-info-button"></i>
        </div>
      </div>
       <div class="item item-button-right"  ui-sref="app.profileViewSkills({id:'{{_id}}'})" ng-if="skillsNumber">
        <span ng-if="skillsNumber > 1">{{skillsNumber}} Skills</span>
        <span ng-if="skillsNumber == 1 ">{{skillsNumber}} Skill</span>
        <div class="button button-clear button-dark">
          <i class="ion-ios-arrow-right" id="profile-info-button"></i>
        </div>
      </div>
    </div>

    <!-- user reviews -->

    <ion-item class="item-button-right" id="profile-divider" ng-if="!contractorStatus">
    	<span ng-if="reviewNumber == 1">{{reviewNumber}} Review </span>
    	<span ng-if="reviewNumber > 1 || reviewNumber == 0">{{reviewNumber}} Reviews </span>
    </ion-item>
   	<ion-list>
   		<ion-item ng-repeat="review in reviews">
   			<div>{{review.rating}}/5</div>
   			<div> {{review.details}}</div>
   		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>