<ion-view hide-back-button="true">
  
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <div menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></div>
    </ion-nav-buttons>
    <h1 class="title denseTitle">Settings</h1>        
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" scrollbar-y="false">
   
    <div class="container profile">
      
      <ion-toggle toggle-class="toggle-balanced" ng-checked="deviceToken" ng-click='change()' ng-model="user.deviceToken">Push Notifications</ion-toggle>

      <label class="item item-divider">Social Accounts</label>
      <div class="item item-input">Facebook</div>
      <div class="item item-input">Twitter</div>

      <label class="item item-divider">More</label>
      <div class="item item-input">Feedback &amp; Support</div>
      <div class="item item-input">Rate us on the App Store</div>
      <div class="item item-input">Terms of Service</div>
      
    </div>  
      
  </ion-content>

</ion-view>
