/* general */

#fixa_button {
  background-color: rgb(254,183,0);
  color:#FFF;
  border: none;
}

.denseTitle {
  font-family: 'denseregular';
  font-size: 24px !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.regularTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
  text-transform: uppercase;

}
.centeredTitle {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.extraIconStyle {
  padding: 5px;
  font-size:1.375em;
  font-weight: bold;
}

#fixa-green-button {
  background-color:rgb(126, 211, 33);  
  border: none;
}

#fixa-green-button h1 {
  color:#FFF;
}

#fixa-background {
  background-color: rgb(237,239,237);
}
#fixa-footer-button {
  color:#FFF;
  background-color: rgb(254,183,0);
  border: none;
}
#fixa-footer-button h1 {
  color:#FFF;
}
.item.item-divider.fixa-divider {
  background-color: rgb(237,239,237);
  text-align: center;
  border:none;
  height: 80px;
}

#review.item.item-divider.fixa-divider, #quoteName.item.item-divider.fixa-divider{
  background-color: rgb(237,239,237);
  color:rgb(74, 74, 74);
  text-align: center;

}
.row-with-margin {
  margin: 5px 0px;
}
.fixa-avatar img{
  border-radius: 50% !important;
}

.warmGrey {
  color: rgb(155,155,155);
  font-weight: normal;
}

.hideNav {
  background-color: rgb(237,239,237) !important;
  background-image: none;
}
.footer {
      bottom: 0px;
    position: absolute;
    width: 100%;
}
.logo
{
	background-image: url("images/fixa_white_logo80.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 42%;
 	margin-bottom: 50%;
  /* bottom: 0; */
  display: block;
  z-index: 100;
}


.no-bottom-border {
  border-bottom-width: 0px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}
/* login */

/*#login-button
{
  color:#FFF;
  background-color: rgb(86,90,92);
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  border-radius: 0px;
}*/


#login-button-fb {
  border: 0px !important;
  background-color: rgb(59,89,152);
  color:#FFF;
  margin: 0;
  padding:0px;
}

#login-tagline
{
  font-family: 'Open Sans', sans-serif;
  color:#DDD;
  font-size: 16px;
}
#login-title
{
  font-family: 'Open Sans', sans-serif;
  font-size: 56px;
  color: #FFF;
  font-weight: bold;
  background-image: url("images/fixalogo69x84_white.png");
  /* margin: 0 auto; */
  z-index: 2;
  background-position: center;
  /* margin-left: 50%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: static;
  background-repeat: no-repeat;
  height: 84px;
}
#background-login
{
    background-color: rgb(237,239,237);
}

#resetPassword {
  text-align: center;
  width: 100em;
  color: rgb(155,155,155);
  padding:5%;
}

/* sign up */
#background-signup
{
  background-color: rgb(237,239,237);
}

#providerSignupButton {
  color:rgb(155,155,155);
  padding:5%;
}

#signUpButton, #login-button {
  color:#FFF;
  background-color: #FEB300;
  margin: 0;
  padding:0px;
  border:none;
}
#login-button-signup {
  color:rgb(155,155,155);
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
  border-radius: 0px;
}
#login-on-signup {
  text-align: center;
  width: 100em;
  color: rgb(155,155,155);
  padding:5%;
}


 /* for add business */
.chips {
  display: inline-block;
  padding: 0 25px;
  height: 25px;
  font-size: 1em;
  line-height: 25px;
  border-radius: 25px;
  background-color: #565a5c;
  color: #fff;
  margin: 10px;
}

/* quote  */
#quoteAmount {
  font-weight:bold;
  color:#000;
  font-size: 1em;
}

/* map */
 
#map {
    width: 100%;
    height: 100%;
}

.angular-google-map-container { height: 400px; }

#special-card
{
	border-radius:0px !important;
	background-color: transparent;
	margin: 0;
	/*padding-top: 5px;*/
	box-shadow: none;
	font-family: 'Open Sans', sans-serif; 
}
.special-card-for-request
{
  margin:20px;
  color:rgb(237,239,237);
  font-size: 11px;
}
#special-card-for-photos
{
	border-radius:0px !important;
	margin: 0;
	padding-top: 5px;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif; 
}

#special-card-for-request input
{
	border-radius:0px !important;
	background-color: transparent;
	margin: 0;
	padding-top: 5px;
	color:#000;
	box-shadow: none;
	font-family: 'Open Sans', sans-serif; 
}


#special-card input
{
	border-radius:0px !important;
	
	margin: 0;
	padding-top: 5px;
	font-family: 'Open Sans', sans-serif; 
	height:44px;
	color:#000;

}


body {
  height: auto;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif; 
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

.ion-chatboxes:before
{
	padding-right:15px;
	font-size: 32px;
}
.ion-ios-plus:before
{

	padding-right: 15px;
	font-size: 32px;
}
.ion-ios-list:before
{

	padding-right:15px;
	font-size: 32px;
}

.ion-person:before
{

	padding-right:15px;
	font-size: 32px;
}

.ion-gear-a:before
{

	padding-right: 15px;
	font-size: 32px;
}

.ion-ios-home:before
{

	padding-right: 15px;
	font-size: 32px;
}
.ion-ios-undo:before
{

	padding-right: 15px;
	font-size: 32px;
}

.ion-log-out:before
{

	padding-right: 15px;
	font-size: 32px;
}

.ion-hammer:before
{

	padding-right: 15px;
	font-size: 32px;
}
.ion-social-usd:before
{
	padding-right: 15px;
	font-size: 32px;

}

.ion-help-circled:before
{
	padding-right: 15px;
	font-size: 32px;
}

.menu.menu-left
{
	/*width: 100px;*/
}

.popup
{
	/*width:300px;*/
}
.ion-ios7-camera:before
{
	font-size: 2.5em;
	/*line-height: 300px;*/
	
}

#email_edit,#phone_edit
{
	color: #4a87ee;
}

#profile_icon
{
	font-size: 1.2em;

}

.no_pic_div
{
	
	height: 150px;
    width: 150px;
    background-color: #DDD;
    font-size: 1.2em;
    border-radius: 50%;
    display: table;
    margin: 0 auto;

}
#addIconButton{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    font-size: 2.5em;
    color: #a7a7a7;
}

.pic_div
{
	width: 150px;
	height: 150px;
	margin: 30px auto 50px;
}

#user_name {
	font-size: 1.5em;
	text-align: center;
}

#user_rating {
  font-size: 1.5em;
  text-align: center;
  margin:1%;
}

#add-review {
  right: 50%;
  transform: translate(25%, -50%);
  top: 50%;
  position: absolute;
  color:#FEB300;
  font-size: 24px;

}

#add-review.ion-ios-plus-empty::before{
  line-height: 0;
}
#profile-divider {
  background-color: rgb(237,239,237);
  position: relative;
}

#profile-info-button {
  position:absolute;right:0;font-size:1.5em;
}

#pic_icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translateX(-50%) translateY(-300%);
	margin: 0 auto;
	color: #FFF;
	font-size: 1.2em;
}

#profile_image
{
	border-radius: 50%;
	height: inherit;
	width: inherit;
}

#camera
{
	color:#000;
}

#photo-click
{
	padding: 5px;
	height: 66px;
	/* max-height: 50%; */
	width: 100px;
	background-color: #FFF;
	margin:1px;

}

#photos
{
	position: absolute;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0;
	margin-bottom: 20px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
#search_list
{
	position: relative;
	  padding-top: 1px;
	  padding-bottom: 1px;
	  padding-left: 0;
	  margin-bottom: 20px;
	  top: auto;
	  right: 0;
	  left: 0;
	  margin: 0 auto;
	  width: 100%;
}

.row
{
	padding:0;
}
.col
{
	padding:0;

}
.responsive-sm .col
{
	margin-bottom: 0px;
}

.dashboardCategoryName {
  font-size: 16px;
  color:#000;
  display:flex;
}

/* Dashboard */
#handyman, #contractors, #plumber, #landscaper, #electrician, #flooring, #hvac, #locksmith,#movers, #painters, #pool-cleaner, #roofers, #cleaner
{
  background-color: rgb(241,241,241);
	height: 10em;
	color: rgb(254, 183, 0);
  border:0.66px solid rgb(214,214,214);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow:column;
  justify-content:space-around;
}

#handyman-icon, #contractors-icon, #plumber-icon, #landscaper-icon, #electrician-icon,#flooring-icon, #hvac-icon,#locksmith-icon,#movers-icon, #painters-icon, #pool-cleaner-icon,#roofer-icon,#roofers-icon,#cleaner-icon
{
  font-size: 5em;
  display:flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow:column;
  justify-content:space-around;
}

.icon-request{
  top:50%;
  color:#FEB300;
  right:9px;
}
.button.button-icon.icon-sidebar.energized.navbar-icon:hover, .button.button-icon.icon-sidebar.energized.navbar-icon:before,
.button.button-icon.icon-sidebar.energized.navbar-icon:active {
  color:#FEB300;
  font-size:22px;
}
.icon-sidebar {
  top:66%;  /* might need to fix for android */
  border:none;
  padding:0;
  left:9px;
}
.navbar-icon {
  -webkit-transform:translate(0%,-50%);
  transform:translate(0%, -50%);
  position:absolute;
  font-size: 22px;
}

/* End Dashboard */

#login-text-color {
  color: rgb(155,155,155);
}


#schedule-button {
	padding:10px 10px;
	color:#FFF;
}
#schedule-icon {
	font-size: 1.85em;
    float: right;
    color: #FFF;
}
#schedule-button-text {
	color:#FFF;
}
.schedule_well {
	background-color: #FEB300;
	width: 100%;
	margin: 30px 0px;
}

.reminder_well {
	width: 100%;
	margin: 30px 0px;
}

.fixa-button-profile {
  background-color: #FEB300;
  color: #FFF;
  border: none;
  margin: 5px;
}

.sidebar-list {
	margin-left: 10px;
}
#sidebar-header {
	display:block;
	height: 176px;

	background:url("images/fixa-logo100.png") no-repeat #EDEFED center;
 
}
.no-border {
	border: none !important;
}


#sidemenu-auth {
	margin: 0 auto;
    text-align: center;
	color:#FEB300;
}

/* WALKTHROUGH CSS */
.fullHeight .scroll {
  height: 100% !important; 
}

.slider {
  height: 100%;
}

.box {
  height: 100%;
}

.feature1 {
  background:url("../walkthrough/WALKTHROUGH1.png") no-repeat center;
  background-size: cover;

}

.feature2 {
  background:url("../walkthrough/WALKTHROUGH2.png") no-repeat center;
  background-size: cover;
}

.feature3 {
  background:url("../walkthrough/WALKTHROUGH3.png") no-repeat center;
  background-size: cover;
}
.feature4 {
  background:url("../walkthrough/WALKTHROUGH4.png") no-repeat center;
  background-size: cover;
}
.feature4.slider-pager {
	display: none;
}
.icon.ion-record {
	font-size: xx-small;
}

.skip-button {
  color: #FEB300 !important;
}

/* END WALKTHROUGH CSS */

.button-fb-background {
	background-color: #354f88;
}

.unauthenticatedAccount {
	background-image: url("images/walkthrough/Unauthenticated_UI/AccountBG.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/* Request CSS */

.col.request-picture-col {
  height: 75px;
  width: 75px;
  position: relative;
  border: 1px solid rgb(237,239,237);
  color: rgb(86,90,92);
  margin: 8px 8px;
}
.ion-ios-camera.request-col-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 22px;
  transform: translate(-50%, -50%);
}
.request-col-img {
  width: 100%;
}

#requestPhoto {
  height: 200px;
  position: relative;
}
#requestPhoto .ion-ios-plus {
  bottom: 0;left: 0;position: absolute;padding: 10px;color:#FEB300;
  display: inline;
}

#requestPhoto .col, #requestVideo .col, #requestTitle {
	padding:10px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#requestPhoto .col .ion-ios-camera, #requestVideo .col .ion-ios-videocam {
	font-size: 1.5em;
	padding: 5px;
}

#requesthandyman, #requestcontractors, #requestplumber, #requestlandscaper, #requestelectrician, #requestflooring, #requesthvac, #requestlocksmith,#requestmovers, #requestpainters, #requestpool-cleaner, #requestroofers, #requestcleaner
{
  height: 10em;
  color: rgb(254, 183, 0);
  
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-flow:column;
  /*justify-content:space-around;*/
}

#requestTitle {
	padding:5%;
}

.selectedIndex {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border:2px solid #FEB300;
  height: 150px !important;
  width: 150px !important;
}

.job-history-quote-wrapper-open {
  display: inline-block;
  width: 25px;
  background: rgb(237,239,237);
  border-radius: 50%;
  height: 25px;
  justify-content: center;
  text-align: center;
  position: relative;
  vertical-align:middle;
  padding: 25px;
}


.job-history-quote-wrapper-closed {
  display: inline-block;
  width: 25px;  
  height: 25px;
  justify-content: center;
  text-align: center;
  position: relative;
  vertical-align:middle;
  padding: 25px;
}

.job-history-quote-open, .job-history-quote-closed{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


.job-history-quote-name {
  display:inline-block;padding-left: 9px;
  color: #000;
}

#fixa-green-checkmark {
  color: rgb(126, 211, 33);
  font-size: 50px;
  border: none;
}

#jobNotCompleteIcon, #jobViewedIcon {
  width: 7px;
  height: 7px;
  background-color: rgb(155,155,155);
  border-radius: 50%;
  right: 50%;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
}
#jobCompleteIcon {
  width: 7px;
  height: 7px;
  background-color: rgb(126, 211, 33);
  border-radius: 50%;
  right: 50%;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
}

#newJobIcon {
  width: 7px;
  height: 7px;
  background-color: rgb(254,183,0);
  border-radius: 50%;
  right: 50%;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
}

#quoteDeniedIcon {
  width: 7px;
  height: 7px;
  background-color: rgb(3,110,234);
  border-radius: 50%;
  right: 50%;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
}

/* ionic chat css */
/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

#acceptButton {
  background: rgb(126,211,33);
  vertical-align: middle;
  text-align: center;
  width: 35px;
  color:#FFF;
}


.toggle-fixa-green input:checked + .track {
  background-color:#7ed321;
  border-color:#7ed321;
}
/* end request css*/

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 80px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom:10px;
 
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
  height: 50px;
  overflow-y: scroll;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #FEB300;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #FEB300;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

/*input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}*/

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}

.chatBubbleRightAlight {
  text-align: right;
}

.avatar-description {
  display: inline-block;
  padding: 10px 60px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}
/* end ionic chat css */

/* start modal css for jobView.html */

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}
/* end modal css */

/* Credit css */

.creditContainer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.creditInfo {
  margin: 0 auto;

    /* width: 53%; */
}
.creditTitle {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  padding-top: 11px;
  font-weight: bold;
}
.creditPrice {
  font-size:42px;
  padding: 9px 12px;
  font-weight: bold;
}

.extraCreditInfo {
  padding: 9px 12px;
}


#noCardBorder {
  border:0;
}