<ion-view id="background">

  <div class="bar bar-header" style="background:none;">
      <a class="button-icon icon ion-ios-arrow-left" style="color:#FEB300;" ui-sref="first"></a>
  </div>

  <ion-content data-tap-disabled="true">
    <div class="bar bar-footer" style="background-color:#5D5959;background-image:none;"> 
        <div class="title" ui-sref="signup" style="color:#FFF;">NORMAL</div>
    </div>
    <div class="bar bar-subfooter" style="background-image:none;background-color:#FEB300;"> 
      <div class="title" ui-sref="provider_signup" style="color:#FFF;">SERVICE PROVIDER</div>
    </div>
  </ion-content>
</ion-view>

