<ion-view id="background" data-tap-disabled="true" scroll-y="false">
  
  <ion-content>

  <div class="row row-center" style="margin-top:50%;position:fixed;">
    <div class="col text-center">
        <div id="login-title"></div>
        <!--<div class="col text-center" id="login-tagline">Hello. <br>We're Fixa and we're here to help.</div>-->
    </div>
    
  </div>
  </ion-content>

  <div class="bar bar-footer" style="background:none;padding:0;"> 
    <div class="button-bar">
        <div class="button" id="login-button" ui-sref="walkthrough" style="background-color:#FEB300;">
          <div class="title">Get Started</div>
        </div>  
        <div class="button button-dark" ui-sref='login' id="login-button">
            <div class="title">Sign In</div>
        </div>
    </div>  
  </div>

</ion-view>

