<ion-view id="background-login" hide-back-button="true">
<ion-nav-bar>
    <h1 class="title denseTitle">FIXA</h1>        
  </ion-nav-bar>
  <ion-content scroll="false" class="fullHeight">
  <div class="list">
    <div class="row">
      <div class="col">
        <div class="item item-input" id="login-text-color">
            <input type="email" placeholder = "EMAIL"  ng-model="user.email">
        </div>
        <div class="item item-input" id="login-text-color">
            <input type="password" placeholder = "PASSWORD" ng-model="user.password" >
        </div>
      </div>
    </div>
    <div class="row">
      <span ui-sref="app.reset-password" id="resetPassword">Forgot password?</span>
    </div>
    <div class="row">
      <span ui-sref="signup" id="login-on-signup">Don't have an account? Sign up!</span>
    </div>
  </div>


  <div class="footer">
    <div class="button button-full denseTitle" ng-click="login()" id="login-button">SIGN IN</div>
    <div class="button button-full" ng-click="loginWithFB()" id="login-button-fb">Sign In with Facebook</div>
  </div>

  </ion-content>

</ion-view>
