<div class="modal">
    <ion-header-bar>
      <h1 class="title">Please enter the following information</h1>
    </ion-header-bar>
    <ion-content>
      <form class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="fb_email.fb_email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="fb_name.fb_name">
        </label>
        <label class="item item-input">
           <span class="input-label">Phone</span>
          <input type="number" ng-model="fb_phonenumber.fb_phonenumber">
        </label>
        <label class="item item-input">
           <span class="input-label">Zip Code</span>
           <input type="number" ng-model="fb_zip.fb_zip">
        </label>
        <label class="item">
           <span class="input-label">Are you a contractor?</span>
           <input type="radio" ng-model="fb_contractorstatus.fb_contractorstatus" value="true">Yes
           <input type="radio" ng-model="fb_contractorstatus.fb_contractorstatus" value="false">No
        </label>

        
        <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
      </form>

      
    </ion-content>
</div>
