<ion-view id="userMessagesView">
<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Messages</h1>                   
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
</ion-nav-bar>
<ion-content has-bouncing="true" class="has-header has-footer">
  <ion-refresher pulling-text="Pull to get older messages" on-refresh="pullToRefresh()">
  </ion-refresher>

  <div ng-repeat="message in messages" class="message-wrapper">

	<img ng-show="message.message" class="profile-pic" ng-if = "checkId(message.userId)" ng-class="checkId(message.userId) ? 'right':''" ng-src="data:image/jpg;base64,{{profile_pic}}"/>

	<img ng-show="message.message" class="profile-pic"  ng-if = "!checkId(message.userId)" ng-class="!checkId(message.userId) ? 'left':''" ng-src="data:image/jpg;base64,{{profile_pic2}}"/>

	<div ng-show="message.message" class="chat-bubble" ng-class="checkId(message.userId) ? 'right':'left'" style="width: 50%;">
        <div class="message ng-binding" ng-class="checkId(message.userId) ? '':'chatBubbleRightAlight' ">{{message.message}}</div>
        <div ng-show="message.link !=='' " ng-class="checkId(message.userId) ? '':'chatBubbleRightAlight' "><img ng-src="{{message.link}}"/></div>
      </div>
      <div class="cf"></div>
  </div>
</ion-content>
<form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
	<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
	  <!-- <label class="item-input-wrapper">
	      <textarea ng-model="newMessage" value="" placeholder="Send a message..." required minlength="1" maxlength="1000" msd-elastic></textarea>
	  </label> -->
	  <textarea ng-model="newMessage" value="" placeholder="Send a message..." required minlength="1" maxlength="1000" msd-elastic></textarea>
	  <div class="footer-btn-wrap">
	    <button ng-click="sendNewMessage(newMessage)" class="button button-icon icon ion-android-send footer-btn" type="submit"
	        ng-disabled="!newMessage || newMessage === ''">
	    </button>
	    <!-- <button class="button button-icon icon ion-ios7-camera-outline footer-btn" type="submit" ng-click="takePicture()"  style="margin-left: 50%;"></button> -->
	  </div>
	</ion-footer-bar>
</form>
</ion-view>
