<ion-view hide-back-button="false">
	<ion-nav-bar>
    <ion-nav-buttons side="left">
      <div menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></div>
    </ion-nav-buttons>
    <h1 class="title denseTitle">Messages</h1>                   
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
  </ion-nav-bar>

	<ion-content has-bouncing="true" class="has-header" has-footer="true" has-tabs="true" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true">

		<div ng-repeat="message in messages" class="message-wrapper" ng-click="goToMessage(message.root, message.roomId)" style="border:solid 1px #ddd;">
			<img class="profile-pic left" ng-src="data:image/jpg;base64,{{message.profile_pic}}"/>
			<div class="avatar-description">From:  {{message.name}}</div>
			<div class="cf"></div>
		</div>
	    
	</ion-content>	

</ion-view>