<ion-view title="fixa">

<div class="bar bar-header bar-stable">

    <ion-nav-buttons side="left">
        <i menu-toggle="left" class="icon-sidebar energized navbar-icon"></i>
    </ion-nav-buttons>

</div>

<ion-content has-header="true" overflow-scroll="true">

	<div class="item item-input">
	    <i class="icon ion-ios7-search placeholder-icon"></i>
	    <input type="search" placeholder="Search" ng-model="formData.query" ng-change="search_query()">
	</div>
	<ion-list ng-if="formData.query" scroll="true" style="overflow-y:scroll;">
	    <ion-scroll direction="y" scrollbar-y="false">
		    <ion-item ng-repeat="photo in photos.items" >  
		        <a class="item item-thumbnail-left">
		        	<img ng-src="{{ photo.media.m }}">
		        </a>
		    </ion-item>
		</ion-scroll>
	</ion-list>
</ion-content>

</ion-view>
