<ion-view hide-back-button="false">
<ion-nav-bar>
  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Request</h1>
</ion-nav-bar>
<ion-content data-tap-disabled="true" scroll="false">

<!-- requester profile -->
<div class="list">
  <div class="item item-avatar" ng-if="!contractorStatus">
    <img ng-src="data:image/jpg;base64,{{proPic}}">
    <h2 class="denseTitle">{{proName}}</h2>	
    {{proBusinessRating | number:1}}      
  </div>
  <div class="item item-avatar" ng-if="contractorStatus">
    <img ng-src="data:image/jpg;base64,{{requester_profile_pic}}">	      
    <h2>{{requesterName}}</h2>
  </div>
</div>

<!-- quote information -->
<div class="item item-divider fixa-divider denseTitle" id="quoteName">
	<div class="centeredTitle">{{jobName}}</div>
</div>
<ion-item>
	Info
</ion-item>
<ion-item class="item-button-right" ng-if="!contractorStatus">
	Job Status
	 <div class="button button-clear">
    <i id="jobNotCompleteIcon" ng-if="!workComplete"></i>
    <i id="jobCompleteIcon" ng-if="workComplete"></i>
  </div>
</ion-item>
<ion-toggle ng-if="contractorStatus" toggle-class="toggle-fixa-green" ng-change="completeJob()">
	Job Status
</ion-toggle>
<ion-item class="item-button-right" ng-if="!contractorStatus && !jobReviewed" ng-click="addReview()">
	Review {{jobReviewed}}
	<div class="button button-clear">
		<i class="ion-ios-plus-empty" id="add-review"></i>
	</div>
</ion-item>
<div class="item item-button-right" ng-click="launchNavigator()" ng-if="contractorStatus">
  Get Directions
  <div class="button button-clear button-dark">
    <i class="ion-ios-arrow-right" id="profile-info-button"></i>
  </div>
</div>
</ion-content>
</ion-view>