<ion-view id="fixa-background">
		<ion-nav-bar>
		  <ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
      </ion-nav-back-button>
		  <h1 class="title denseTitle">Quotes Received</h1>		  
	  </ion-nav-bar>
	<ion-content>
	<div class="item item-divider fixa-divider warmGrey denseTitle">
		<div class="centeredTitle">{{jobName}}</div>
	</div>
	<ion-list can-swipe="true">
	<!-- the individual quotes will go to a special job view before the user accepts the quote -->
		<ion-item ng-repeat="quote in quotes track by $index" ng-if="quote.quoteData" ng-click="goToQuote(quote, quote.quoteData[$index].bidder)">					
			{{quote.quoteData[$index].newQuote}}
			<span ng-if="!quote.quoteData[$index]"> Sorry, no quotes yet!</span>
		</ion-item>		
	</ion-content>
</ion-view>