<ion-view id="fixa-background">
	<ion-nav-bar>
	  <ion-nav-buttons side="left">
      <div menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></div>
    </ion-nav-buttons>
	  <h1 class="title denseTitle">Buy Credits</h1>
	  <ion-nav-buttons side="right">
	      <i class="button button-icon ion-ios-information-outline energized" ></i> <!-- when the user clicks this button it will show them how many credits they have -->
	  </ion-nav-buttons>

  </ion-nav-bar>

	<ion-content class="has-header" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true">

	<div class="list card">
	  <div class="creditTitle energized">
	    1 Credit
	  </div>
	  <div class="item item-body" id="noCardBorder">
   		<div class="creditContainer">
   			<div class="creditInfo">
					<div class="creditPrice">$10</div>
					<div class="extraCreditInfo">Credits Roll Over Mo/Mo <br> Up to $200 Worth of Quotes</div>
				</div>
	      <div class="button button-block button-energized no-border" ng-click="charge('10', '1')">Purchase Credits for $10</div>
	    </div>
    </div>
	</div>

	<div class="list card">
	  <div class="creditTitle energized">
	    5 Credits
	  </div>
	  <div class="item item-body" id="noCardBorder">
   		<div class="creditContainer">
   			<div class="creditInfo">
					<div class="creditPrice">$30</div>
					<div class="extraCreditInfo">Credits Roll Over Mo/Mo <br> Up to $600 Worth of Quotes</div>
				</div>
	      <div class="button button-block button-energized no-border" ng-click="charge('30', '5')">Purchase Credits for $30</div>
	    </div>
    </div>
	</div>

	<div class="list card">
	  <div class="creditTitle energized">
	    15 Credits
	  </div>
	  <div class="item item-body" id="noCardBorder">
   		<div class="creditContainer">
   			<div class="creditInfo">
					<div class="creditPrice">$70</div>
					<div class="extraCreditInfo">Credits Roll Over Mo/Mo <br> Up to $1,500 Worth of Quotes</div>
				</div>
	      <div class="button button-block button-energized no-border" ng-click="charge('70', '15')">Purchase Credits for $70</div>
	    </div>
    </div>
	</div>

	<div class="list card">
	  <div class="creditTitle energized">
	    30 Credits
	  </div>
	  <div class="item item-body" id="noCardBorder">
   		<div class="creditContainer">
   			<div class="creditInfo">
					<div class="creditPrice">$130</div>
					<div class="extraCreditInfo">Credits Roll Over Mo/Mo <br> Up to $3,100 Worth of Quotes</div>
				</div>
	      <div class="button button-block button-energized no-border" ng-click="charge('130', '30')">Purchase Credits for $130</div>
	    </div>
    </div>
	</div>

	</ion-content>
</ion-view>