<ion-view title="Purchase" hide-back-button="true">

	<div class="bar bar-header bar-stable">
	  <ion-nav-buttons side="left">
	      <i menu-toggle="left" class="button button-icon ion-ios-arrow-left energized" ></i>
	  </ion-nav-buttons>
	</div>

	<ion-content class="has-header" has-footer="true" has-tabs="true" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true">

	<!-- info divider -->


	<!-- end info divider -->


	<!-- credit card details -->


	<!-- end credit card details -->


	<!-- discount code -->


	<!-- end discount code -->


	</ion-content>

	<div class="bar bar-footer bar-energized">
		<div class="title" class="bar bar-footer bar-balanced" id="fixa-footer-button" type="submit">Purchase</div>
	</div>
</ion-view>