<ion-view hide-back-button="false" id="fixa-background">
<ion-nav-bar>
	<ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
  <h1 class="title denseTitle">Review</h1>
</ion-nav-bar>
	<ion-content scroll="false" class="has-header">
		<!-- business profile image -->

		<!-- rating -->
		<div class="item item-divider fixa-divider regularTitle">
			<div class="centeredTitle">Rating</div>
		</div>
		
		<ion-item style="text-align:-webkit-center;">
			<!-- stars for rating stars here -->
			<rating ng-model="rating.rate" max="rating.max" style="display:inline-flex;font-size:36px;"></rating>
		</ion-item>	

		<!-- review -->
		<!-- rating -->
		<div class="item item-divider fixa-divider regularTitle">
			<div class="centeredTitle">Review</div>
		</div>
		<ion-item>
			<textarea rows="4" placeholder="How was the service?" ng-model="rating.details"></textarea>
		</ion-item>		

		<div class="footer">
    		<div class="button button-full" id="fixa_button" ng-click="submit()">ADD REVIEW</div>
    	</div>

	</ion-content>
</ion-view>