<ion-view init="init" hide-back-button="false">
  <ion-nav-bar>
	  <ion-nav-back-button class="button-clear">
	  	<i class="button-icon icon ion-ios-arrow-left energized"></i> 
	  </ion-nav-back-button>
	  <h1 class="title denseTitle">{{category}}</h1>
	  <ion-nav-buttons side="right">
	  	<i ng-click="request('{{category}}')" class="icon-request energized navbar-icon" ></i>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true">
    <!-- <div ng-repeat="user in users" ng-show="user.business.category == category && user.business.name" style="border:solid 1px #ddd;">
      <div class="item item-avatar" href="#/app/profile/{{user.$id}}">
        <img ng-src="data:image/jpg;base64,{{user.profile_pic}}"/>
        <div class="avatar-description">{{user.business.name}}</div>
        
      </ion-item> -->
      <div class="list">
      <a class="item item-avatar fixa-avatar" href="#/app/profile/{{user.$id}}" ng-repeat="user in users" ng-show="user.business.category == category && user.business.name">
            <img ng-src="data:image/jpg;base64,{{user.profile_pic}}"/>
            <h2>{{user.business.name}}</h2>
            <p>{{user.business.rating}}</p>
            
      </a>
      </div>
  </ion-content>
</ion-view>
