<ion-view hide-back-button="true" id="fixa-background">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <i class="button button-icon ion-ios-arrow-left energized"  ui-sref="login"></i>
    </ion-nav-buttons>
    <h1 class="title denseTitle">Password Reset</h1>  
  </ion-nav-bar>

  <ion-content scroll="false">
    <div class="padding">
      Please enter your email and we'll send you a temporary password.
    </div>
    <div class="row">
      <div class="col">
        <div class="item item-input" id="signup-text">
            <input type="email" placeholder="Email" ng-model="user.email">
        </div>
        <div class="item item-input" id="signup-text">
            <input type="password" placeholder="Old Password" ng-model="user.oldPassword">
        </div>
        <div class="item item-input" id="signup-text">
            <input type="password" placeholder="New Password" ng-model="user.newPassword">
        </div>
      </div>
    </div>
    <div class="padding"> 
      <button class="button button-block" id="fixa-green-button" ng-if="!emailSent" ng-click="resetPassword()">
        Reset
      </button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <div ng-if="emailSent">
        <div class="success padding-bottom">
          Email Sent. Please check your inbox.
        </div>
        
      </div>
      <br>
    </div>
  </ion-content>
</ion-view>