<ion-view ng-init="showAlert()" class="unauthenticatedAccount" title="Account" data-tap-disabled="true" hide-back-button="true">
  
  <div class="bar bar-header bar-stable">
    <a class="button-icon icon ion-ios-arrow-left" style="color:#FEB300;" ui-sref="signup"></a>
  </div>

  <ion-content class="has-header" title="Account">
  </ion-content>

</ion-view>

