<ion-view hide-back-button="true">
<ion-nav-bar class="hideNav">
  <ion-nav-buttons side="right">
    <button class="button button-clear skip-button" ng-click="slideHasChanged('4')">Skip</button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content class="fullHeight">
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="box feature1"></div>
    </ion-slide>
    <ion-slide>
      <div class="box feature2"></div>
    </ion-slide>
    <ion-slide>
      <div class="box feature3"></div>
    </ion-slide>
    <ion-slide>
      <div class="box feature4"></div>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slide-box>
</ion-content>
</ion-view>
