<ion-view title="Your Request History">
	<div class="bar bar-header bar-stable">

    <ion-nav-buttons side="left">
        <i menu-toggle="left" class="icon-sidebar energized navbar-icon"></i>
    </ion-nav-buttons>

  </div>
  	
  	<ion-content class="has-header" has-footer="true" has-tabs="true" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true"> 

  		
  	<ion-item ng-repeat="(job, date) in jobs"> <a href="#/app/jobs/{{job}}">{{job}}</a></ion-item>
  		

	</ion-content>

</ion-view>