<ion-view hide-back-button="true" title="New Job">
 
 	<div class="bar bar-header">
   	    <ion-nav-buttons side="left">
   	        <button ui-sref="app.jobs" class="button button-icon ion-arrow-left-c"></button>
   	    </ion-nav-buttons>
    </div>
  
  <ion-content>
     <ion-item><a href="/jobs/{{job_date}}/{{job_time}}">{{job_name}}</a></ion-item>

  </ion-content>

</ion-view>