<ion-view>
	<ion-nav-bar>
	<ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
  </ion-nav-back-button>
	<h1 class="title denseTitle">New Request</h1>
	</ion-nav-bar>
	<ion-content class="has-header"  has-footer="true" scrollbar-y="false">
		<div class="item item-divider fixa-divider regularTitle">
      <div class="centeredTitle">Request Details</div>
     </div>
		
		<div class="list" style="margin-bottom:0px;">
		  <label class="item item-input">
		    <input type="text" placeholder="Request Title" ng-model="task.name">
		  </label>
		  <label class="item item-input">
		    <textarea type="text" ng-model="task.details" rows="5" placeholder="Details (Optional by helpful)"></textarea>
		  </label>
		</div>

	<div class="item item-divider fixa-divider regularTitle">
      <div class="centeredTitle">Photo Upload</div>
  </div>
  <div class="row">
    <div class="col request-picture-col" ng-click="addImage(0)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[0]"></div>
      <img ng-if="task.pic[0]" src="data:image/png;base64,{{task.pic[0]}}"  class="request-col-img">
    </div>
    <div class="col request-picture-col" ng-click="addImage(1)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[1]"></div>
      <img ng-if="task.pic[1]" src="data:image/png;base64,{{task.pic[1]}}"  class="request-col-img">
    </div>
    <div class="col request-picture-col" ng-click="addImage(2)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[2]"></div>
      <img ng-if="task.pic[2]" src="data:image/png;base64,{{task.pic[2]}}" class="request-col-img">
    </div>
    <div class="col request-picture-col" ng-click="addImage(3)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[3]"></div>
      <img ng-if="task.pic[3]" src="data:image/png;base64,{{task.pic[3]}}"  class="request-col-img">
    </div>
  </div>

<div class="item item-divider"></div>
</ion-content>
<div class="bar bar-footer bar-energized">
  <div class="title" ng-click="createTask(task.name, task.details)"  class="bar bar-footer bar-balanced" id="fixa-footer-button" type="submit">REQUEST SERVICE</div>
</div>
</ion-view>