<ion-view>
	<ion-nav-bar>
	<ion-nav-buttons side="left">
        <i menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></i>
    </ion-nav-buttons>
	<h1 class="title denseTitle">New Request</h1>
	<ion-nav-buttons side="right">
      
    </ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header"  has-footer="true" scrollbar-y="false">
		<div class="item item-divider fixa-divider regularTitle">
      <div class="centeredTitle">Request Details</div>
     </div>
		
		<div class="list" style="margin-bottom:0px;">
		  <label class="item item-input">
		    <input type="text" placeholder="Request Title" ng-model="task.name">
		  </label>
		  <label class="item item-input">
		    <textarea type="text" ng-model="task.details" rows="5" placeholder="Details (Optional by helpful)"></textarea>
		  </label>
		</div>

	<div class="item item-divider fixa-divider regularTitle">
      <div class="centeredTitle">Photo Upload</div>
  </div>
  <div class="row">
    <div class="col request-picture-col" ng-click="addImage(0)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[0]"></div>
      <img ng-if="task.pic[0]" src="data:image/png;base64,{{task.pic[0]}}"  class="request-col-img">
    </div>
    <div class="col request-picture-col" ng-click="addImage(1)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[1]"></div>
      <img ng-if="task.pic[1]" src="data:image/png;base64,{{task.pic[1]}}"  class="request-col-img">
    </div>
    <div class="col request-picture-col" ng-click="addImage(2)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[2]"></div>
      <img ng-if="task.pic[2]" src="data:image/png;base64,{{task.pic[2]}}" class="request-col-img">
    </div>
    <div class="col request-picture-col" ng-click="addImage(3)">
      <div class="ion-ios-camera request-col-camera" ng-if="!task.pic[3]"></div>
      <img ng-if="task.pic[3]" src="data:image/png;base64,{{task.pic[3]}}"  class="request-col-img">
    </div>
  </div>

	<!-- <div class="item item-divider">
		<div class="title" id="requestTitle">
			Video upload
		</div>
  </div>
  <div class="row" id="requestVideo" style="background-color:#FFF;">
    <div class="col">
      <button class="button button-light" ng-click="captureVideo()">
        <div class="ion-ios-videocam"></div>
          <img ng-if="clip" ng-src="{{urlForClipThumb(clip)}}" ng-click="showClip(clip)" style="height: 250px; width: 150px;"/>
      </button>
      
    </div>
  </div> -->

  <div class="item item-divider fixa-divider regularTitle">
      <div class="centeredTitle">Service Needed</div>
     </div>
  <div class="row responsive" style="background-color:#FFF;padding-bottom:13px;"> 
    <!-- <div class="item"> -->
    <ks-swiper-container initial-slide="0" speed="2000" loop="false" show-nav-buttons="false" slides-per-view="3" space-between="10" pagination-clickable="false" on-ready="onReadySwiper(swiper)" style="margin: 13px 0px;" >
      <ks-swiper-slide class="swiper-slide" ng-repeat="category in categorySelections" ng-if="category.icon" ng-class="{ 'selectedIndex': $index == selectedIndex }" ng-click="itemClicked($index)">
        <div class="col" >
          <!-- <div class="icon" id="{{category.id}}-icon" style="font-size:3em;color:#FEB300;"></div>
          <div class="item" id="categoryItem"><div id="categoryName">{{category.title}}</div></div> -->
          <div id="request{{category.id}}">
            <div class="icon-{{category.icon}}" id="{{category.id}}-icon"></div>
            <div id="dashboardCategoryName">{{category.title}}</div>
          </div>
        </div>
      </ks-swiper-slide>      
    </ks-swiper-container>
   <!--  </div> -->
  </div>

<div class="item item-divider"></div>
</ion-content>
<div class="bar bar-footer bar-energized">
  <div class="title" ng-click="createTask(task.name, task.details)"  class="bar bar-footer bar-balanced" id="fixa-footer-button" type="submit">REQUEST SERVICE</div>
</div>
</ion-view>