<ion-view init="init()" hide-back-button="true">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <div menu-toggle="left" class="button button-icon icon-sidebar energized navbar-icon"></div>
    </ion-nav-buttons>
    <h1 class="title denseTitle">{{dashTitle}}</h1>        
    <ion-nav-buttons side="right">
      <div ng-show="!contractorStatus" ng-click="test('newRequest')" class="icon-request energized navbar-icon"></div>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content class="has-header" has-footer="true" has-tabs="true" data-tap-disabled="true" scroll="true" scrollbar-y="false" overflow-scroll="true">

    <ion-list ng-show="user === null || !contractorStatus" scroll="true" scrollbar-y="false">
    <div class="row responsive">

      <div class="col" ng-click="goto('Handymen')" style="height:auto;">
          <div id="handyman">
            <div class="icon-handyman" id="handyman-icon"></div>
            <div class="dashboardCategoryName">Handyman</div>
          </div>
      </div>

      <div class="col" ng-click="goto('General Contractors')">
          <div id="contractors">
            <div class="icon-contractors" id="contractors-icon"></div>
            <div class="dashboardCategoryName">General Contractors</div>
          </div>
      </div>
    </div>

    <div class="row responsive">
      <div class="col " ng-click="goto('Plumbers')" >
          <div id="plumber">
            <div class="icon-plumbers" id="plumber-icon"></div>
            <div class="dashboardCategoryName">Plumbers</div>
          </div>
      </div>

      <div class="col" ng-click="goto('Landscapers')">
          <div  id="landscaper">
            <div class="icon-landscaper" id="landscaper-icon"></div>
            <div class="dashboardCategoryName">Landscapers</div>
          </div>
      </div>
    </div>

    <div class="row responsive">
      <div class="col " ng-click="goto('Electricians')">
          <div  id="electrician">
            <div class="icon-electrician" id="electrician-icon"></div>
            <div class="dashboardCategoryName">Electricians</div>
          </div>
      </div>

      <div class="col " ng-click="goto('Flooring Installers')">
          <div  id="flooring">
            <div class="icon-flooring" id="flooring-icon"></div>
            <div class="dashboardCategoryName">Flooring Installers</div>
          </div>
      </div>
    </div>

    <div class="row responsive">
        <div class="col " ng-click="goto('HVAC Technicians')">
            <div  id="hvac">
              <div class="icon-hvac" id="hvac-icon"></div>
              <div class="dashboardCategoryName">HVAC Technicians</div>
            </div>
        </div>

        <div class="col " ng-click="goto('Locksmiths')">
            <div  id="locksmith">
              <div class="icon-locksmith" id="locksmith-icon"></div>
              <div class="dashboardCategoryName">Locksmiths</div>
            </div>
        </div>
    </div>

    <div class="row responsive">
      <div class="col " ng-click="goto('Movers')">
          <div  id="movers">
            <div class="icon-movers" id="movers-icon"></div>
            <div class="dashboardCategoryName">Movers</div>
          </div>
      </div>

      <div class="col " ng-click="goto('Painters')">
          <div  id="painters">
            <div class="icon-painter" id="painters-icon"></div>
            <div class="dashboardCategoryName">Painters</div>
          </div>
      </div>
    </div>
      
    <div class="row responsive">
      <div class="col " ng-click="goto('Pool Cleaners')">
          <div  id="pool-cleaner">
            <div class="icon-pool-cleaners" id="pool-cleaner-icon"></div>
            <div class="dashboardCategoryName">Pool Cleaners</div>
          </div>
      </div>

      <div class="col " ng-click="goto('Roofers')">
          <div id="roofers">
            <div class="icon-roofers" id="roofer-icon"></div>
            <div class="dashboardCategoryName">Roofers</div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class ="col col-50" ng-click="goto('Cleaners')">
        <div  id="cleaner">
          <div class="icon-cleaners" id="cleaner-icon"></div>
          <div class="dashboardCategoryName">Cleaners</div>
        </div>
      </div>
    </div>
      
    </ion-list>
  </ion-content>


</ion-view>
