<ion-view id="background-signup" hide-back-button="true">
	<ion-nav-bar>
		<ion-nav-back-button class="button-icon icon ion-ios-arrow-left energized">
		</ion-nav-back-button>
		<h1 class="title denseTitle">ADD BUSINESS</h1>        
	</ion-nav-bar>
	<ion-content class="has-header" scroll="true">
	<div class="list">
		<div class="row row-with-margin">
		  <div class="col">
				<div class="item item-input warmGrey">
				  <input type="text" placeholder="Business Name"  ng-model="business.name" required>
				</div>
			</div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
		  <label class="item item-input item-select">
		      <div class="input-label warmGrey">
		        Category
		      </div>
		      <select ng-model="business.category" id="selectCategory">
		      	<option selected="true" value="Choose a category">Choose a category</option>
		      	<option value="Cleaners">Cleaners</option>
		      	<option value="General Contractors">General Contractors</option>
		      	<option value="Electricians">Electricians</option>
		      	<option value="Flooring Installers">Flooring Installers</option>
		      	<option value="Handymen">Handyman</option>
		      	<option value="HVAC Technicians">HVAC Technicians</option>
		      	<option value="Landscapers">Landscaping</option>
		      	<option value="Locksmiths">Locksmiths</option>
		      	<option value="Movers">Movers</option>
		      	<option value="Painters">Painters</option>
		      	<option value="Plumbers">Plumbing</option>
		      	<option value="Pool Cleaners">Pool Cleaners</option>
		      	<option value="Roofers">Roofers</option>
		      </select>
		    </label>
		  </div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
				<div class="item item-button-right item-input warmGrey">    
				<input type="text" placeholder="Services" ng-model="serviceToAdd.service" required>
					<div class="button button-clear">
						<i class="icon ion-ios-plus-empty energized" ng-click="addService(serviceToAdd.service)"></i>
					</div>
				</div>
				<div class="chips" ng-repeat="service in business.services">{{service}}</div>
			</div>
		</div>


		<div class="row row-with-margin">
			<div class="col">
				<div class="item item-input warmGrey">
					<input type="text" placeholder="Hourly Rate" ng-model="business.rate" required>
				</div>
			</div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
		    <div class="item item-input warmGrey">
		      <input type="text" placeholder="Business Address" ng-model="business.address" required>
		    </div>
		  </div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
		    <div class="item item-input warmGrey">
		      <input type="text" placeholder="Business City" ng-model="business.city" required>
		    </div>
		  </div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
				<label class="item item-input item-select">
				  <div class="input-label warmGrey">
				    Business State
				  </div>
				  <select ng-model="business.state" id="selectCategory">
				  	<option selected="true">Select your State</option>
				  	<option value="AL">Alabama</option>
				  	<option value="AK">Alaska</option>
				  	<option value="AZ">Arizona</option>
				  	<option value="AR">Arkansas</option>
				  	<option value="CA">California</option>
				  	<option value="CO">Colorado</option>
				  	<option value="CT">Connecticut</option>
				  	<option value="DE">Delaware</option>
				  	<option value="DC">District Of Columbia</option>
				  	<option value="FL">Florida</option>
				  	<option value="GA">Georgia</option>
				  	<option value="HI">Hawaii</option>
				  	<option value="ID">Idaho</option>
				  	<option value="IL">Illinois</option>
				  	<option value="IN">Indiana</option>
				  	<option value="IA">Iowa</option>
				  	<option value="KS">Kansas</option>
				  	<option value="KY">Kentucky</option>
				  	<option value="LA">Louisiana</option>
				  	<option value="ME">Maine</option>
				  	<option value="MD">Maryland</option>
				  	<option value="MA">Massachusetts</option>
				  	<option value="MI">Michigan</option>
				  	<option value="MN">Minnesota</option>
				  	<option value="MS">Mississippi</option>
				  	<option value="MO">Missouri</option>
				  	<option value="MT">Montana</option>
				  	<option value="NE">Nebraska</option>
				  	<option value="NV">Nevada</option>
				  	<option value="NH">New Hampshire</option>
				  	<option value="NJ">New Jersey</option>
				  	<option value="NM">New Mexico</option>
				  	<option value="NY">New York</option>
				  	<option value="NC">North Carolina</option>
				  	<option value="ND">North Dakota</option>
				  	<option value="OH">Ohio</option>
				  	<option value="OK">Oklahoma</option>
				  	<option value="OR">Oregon</option>
				  	<option value="PA">Pennsylvania</option>
				  	<option value="RI">Rhode Island</option>
				  	<option value="SC">South Carolina</option>
				  	<option value="SD">South Dakota</option>
				  	<option value="TN">Tennessee</option>
				  	<option value="TX">Texas</option>
				  	<option value="UT">Utah</option>
				  	<option value="VT">Vermont</option>
				  	<option value="VA">Virginia</option>
				  	<option value="WA">Washington</option>
				  	<option value="WV">West Virginia</option>
				  	<option value="WI">Wisconsin</option>
				  	<option value="WY">Wyoming</option>
				  </select>	
				</label>
			</div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
		    <div class="item item-input warmGrey">
		      <input type="text" placeholder="Website"  ng-model="business.website">
		    </div>
		  </div>
		</div>

		<div class="row row-with-margin">
			<div class="col">
				<div class="item item-input warmGrey">
				  <textarea type="textarea" ng-model = "business.about" rows="5" placeholder="Tell customers about your business">
				  </textarea>
				</div>
			</div>
		</div>
	</div>	  
	</ion-content>
	<div class="bar bar-footer" ng-click="verify(business.name, business.city, business.state)">
		<div class="title" id="signUpButton">VERIFY BUSINESS</div>
	</div>

</ion-view>
