<script id="add_business/business-list-modal.html" type="text/ng-template">
	<ion-modal-view>
	<ion-header-bar class="bar bar-header">
	  <h1 class="title denseTitle">Find your business</h1>
	  <button class="button button-clear button-energized" ng-click="modal.hide()">Cancel</button>
	</ion-header-bar>
	<ion-content class="padding">
	  <div class="list">
	    <div class="item" ng-repeat="business in businesses" ng-click="choose(business)">
	    	<h2>{{business.OrganizationName}}</h2>
	    	<p>{{business.Address}}</p>
	    	<p>{{business.Phones[0]}}</p> 
	  </div>
	  <button class="button button-block button-energized no-border">DON'T SEE YOUR BUSINESS?</button>
	</ion-content>
	</ion-modal-view>
</script>